{% extends 'base.html.twig' %}

{% block title %}Modification d'un campus{% endblock %}

{% block body %}
    <h3 class="my-3">Modification d'un campus</h3>

    <div class="row justify-content-md-center my-5">
        <div class="col-6 p-4 bg-white border border-secondary rounded">
            {{ form_start(form) }}
                {{ form_label(form.nom, 'Nouveau nom :') }}
                {{ form_widget(form.nom) }}
                <div class="my-3 text-center">
                    <a href="{{ path('campus_index') }}" class="btn btn-secondary">Retour à la liste</a>
                    <button class="btn btn-warning">{{ button_label|default('Mettre à jour') }}</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
