{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}
    <h3 class="my-3">{{ participant.pseudo}}</h1>

  
        <div class="mx-3" >
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ participant.id }}</td>
                    </tr>
                    <tr>
                        <th>Pseudo</th>
                        <td>{{ participant.pseudo }}</td>
                    </tr>
                    <tr>
                        <th>Campus</th>
                        <td>{{ participant.campus.nom }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ participant.nom }}</td>
                    </tr>
                    <tr>
                        <th>Prenom</th>
                        <td>{{ participant.prenom }}</td>
                    </tr>
                    <tr>
                        <th>Telephone</th>
                        <td>{{ participant.telephone }}</td>
                    </tr>
                    <tr>
                        <th>Mail</th>
                        <td>{{ participant.mail }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}