{% extends 'base.html.twig' %}

{% block title %}Hello AfficheUtilisateurController!{% endblock %}

{% block body %}
    <h1 class="text-center text-primary my-5">{{ participant.pseudo }}</h1>
<div class="row justify-content-md-center">
    <p> Prénom : {{ participant.prenom }}</p>
    <p> Nom : {{ participant.nom }}</p>
    <p> Téléphone : {{ participant.telephone }}</p>
    <p> Email : {{ participant.mail }}</p>
    <p> Ville de rattachement : {{ participant.campus.nom }}</p>
    {% if participant.photo %}
    <img src="{{ asset(participant.photo) }}" alt="">
    {% endif %}
    <div>
{% endblock %}