{% extends 'base.html.twig' %}

{% block title %}Modification de l'utilisateur{% endblock %}

{% block body %}


    {% if success %}
        <div class="alert alert-success">{{ success }}</div>
    {% endif %}

    {{ form_start(modificationUtilisateurForm) }}

    {{ form_row(modificationUtilisateurForm.pseudo, {
        value : app.user.pseudo
    })
    }}

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    {{ form_row(modificationUtilisateurForm.prenom, {
        value : app.user.prenom
    })
    }}

    {{ form_row(modificationUtilisateurForm.nom, {
        value : app.user.nom
    })
    }}

    {{ form_row(modificationUtilisateurForm.telephone, {
        value : app.user.telephone
    })
    }}

    {{ form_row(modificationUtilisateurForm.mail, {
        value : app.user.mail
    })
    }}

    {{ form_row(modificationUtilisateurForm.password, {
        value : ''
    })
    }}

    <div class='import-form'>
            {{ form_label(modificationUtilisateurForm.photo) }}
            {{ form_widget(modificationUtilisateurForm.photo) }}
            <div class="form-error">
                {{ form_errors(modificationUtilisateurForm.photo) }}
            </div>
        </div>

    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <button type="reset" class="btn btn-secondary">Annuler</button>

    {{ form_end(modificationUtilisateurForm) }}
    <img src="{{ asset(app.user.photo) }}" alt="">
    </div>
{% endblock %}
