{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h3 class="my-3">Mon profil</h3>

    <div class="container">
        <div class="row">
            <div class="col-12 offset-sm-3 col-sm-6">
                {{ form_start(modificationUtilisateurForm) }}
                {{ form_row(modificationUtilisateurForm.pseudo, { value : app.user.pseudo }) }}
                <div class="row">
                    {% if app.user.photo %}
                        <img class="desktop-profil-picture my-3 col-sm-4" style="border-radius: 10%;" src="{{ asset(app.user.photo) }}" >
                        <div class="col-12 col-sm-8 mt-sm-4">
                            {{ form_row(modificationUtilisateurForm.prenom, { value : app.user.prenom }) }}
                            {{ form_row(modificationUtilisateurForm.nom, { value : app.user.nom }) }}
                        </div>
                    {% else %}
                        <div class="col-12 col-sm-6">
                            {{ form_row(modificationUtilisateurForm.prenom, { value : app.user.prenom }) }} 
                        </div>
                        <div class="col-12 col-sm-6">
                            {{ form_row(modificationUtilisateurForm.nom, { value : app.user.nom }) }}
                        </div>                    
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4">
                        {{ form_row(modificationUtilisateurForm.telephone, { value : app.user.telephone }) }}
                    </div>
                    <div class="col-12 col-sm-8">
                        {{ form_row(modificationUtilisateurForm.mail, { value : app.user.mail }) }}
                    </div>
                </div>
                {{ form_row(modificationUtilisateurForm.password, { value : '' }) }}
                <div class='import-form'>
                        {{ form_label(modificationUtilisateurForm.photo) }}
                        {{ form_widget(modificationUtilisateurForm.photo) }}
                        <div class="form-error">
                            {{ form_errors(modificationUtilisateurForm.photo) }}
                        </div>
                    </div>
                <div class=" my-3 text-center">
                    <button type="submit" class="btn btn-warning">Enregistrer</button>
                    <button type="reset" class="btn btn-secondary">Annuler</button>
                </div>
                {{ form_end(modificationUtilisateurForm) }}
            </div>
        </div>
    </div>


    </div>
{% endblock %}
