{% extends 'base.html.twig' %}

{% block title %}Affichage une sortie{% endblock %}

{% block body %}
    <h3 class="my-3">Annuler une sortie</h3>

    {{ form_start(form) }}
    <div class="row">
        <div class="offset-1 col-8 offset-sm-3 col-sm-6">
            <div class="form-row my-2">
                Nom : {{ sortie.nom }}
            </div>
            <div class="form-row">
                Date de la sortie :{{ sortie.dateHeureDebut | date('d/m/Y H:i:s') }}
            </div>
            <div class="form-row">
                Lieu : {{ sortie.campus.nom }}
            </div>
            <div class="form-row">
                {{ sortie.lieu.nom }} {{ sortie.lieu.rue }} {{  sortie.lieu.ville.codePostal }} {{ sortie.lieu.ville.nom }}
            </div>
            <div class="form-row">
                {{ form_label(form.motif) }} : {{ form_widget(form.motif) }}
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-md-center my-3">
        <div class="flex-fill text-end me-4">
            <button class="btn btn-warning">{{ button_label|default('Enregistrer') }}</button>
        </div>
        <div class="flex-fill text-start ms-4">
            <a href="{{ path('sortie_index') }}" class="btn btn-secondary">Annuler</a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

        



   