{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
    <div class="user-info">
        <p>Date du jour : {{ "now"|date("d/m/Y") }}</p>
        <p>Participant : {{ app.user.getIdentite }}</p>
    </div>

    <h3>Filtrer les sorties</h3>

    {{ include('sortie/_filters.html.twig') }}

    <table class="table">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d') : '' }}</td>
                <td>{{ sortie.participant|length }} / {{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat}}</td>
                {% set inscrit = ' ' %}
                {% for participant in sortie.participant %}
                    {% if participant == app.user %}
                        {% set inscrit = 'X' %}
                    {% endif %}
                {% endfor %}
                <td>{{ inscrit }}</td>
                <td>{{ sortie.organisateur }}</td>
                <td>
                    {% if sortie.etat == 'En création' %}
                        <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                        {% if sortie.organisateur == app.user %}
                            Publier
                        {% endif %}
                    {% elseif sortie.etat == 'Ouverte' %}
                        <a href="{{ path('sortie_show', {'id': sortie.id}) }}">Afficher</a>
                    {% elseif sortie.etat == 'Cloturée' %}
                        <a href="{{ path('sortie_show', {'id': sortie.id}) }}">Afficher</a>
                    {% elseif sortie.etat == 'Annulée' %}
                        Annulée
                    {% elseif sortie.etat == 'Terminée' %}
                        Terminée
                    {% elseif sortie.etat == 'Historisée' %}
                        Historisée
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun résultat ne correspond à votre recherche</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sortie_new') }}">Créer une sortie</a>
{% endblock %}
