{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}
    <div class="user-info">
        <p>Date du jour : {{ "now"|date("d/m/Y") }}<br>
        Participant : {{ app.user.getIdentite }}</p>
    </div>

    <div class="desktop-view">
        <h3 class="my-xl-3">Filtrer les sorties</h3>
        {{ include('sortie/_filters.html.twig') }}
        <div class="mx-3 mt-5">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Inscrits/Places</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                {% for sortie in sorties %}
                    {% set inscrit = '' %}
                    {% for participant in sortie.participant %}
                        {% if participant == app.user %}
                                {% set inscrit = 'X' %}
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i:s') : '' }}</td>
                        <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y') : '' }}</td>
                        <td>{{ sortie.participant|length }} / {{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat}}</td>
                        <td>{{ inscrit }}</td>
                        <td>{{ sortie.organisateur }}</td>
                        <td>
                            {% if sortie.etat == 'En création' %}
                                {% if sortie.dateHeureDebut|date('Y-m-d H:i:s') > date('now')|date('Y-m-d H:i:s')
                                    and (sortie.organisateur == app.user) or (is_granted('ROLE_ADMIN'))
                                %}
                                    <a class="btn btn-warning" href="{{ path('sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                                {% endif %}
                            {% elseif sortie.etat == 'Ouverte' %}
                                <a class="btn btn-warning" href="{{ path('sortie_show', {'id': sortie.id}) }}">Afficher</a>
                                {% if inscrit == ''
                                    and sortie.organisateur != app.user
                                    and sortie.participant|length < sortie.nbInscriptionsMax
                                    and  sortie.dateLimiteInscription|date('Y-m-d') > date('now')|date('Y-m-d')
                                %}
                                    <a  class="btn btn-warning"href="{{ path('sortie_subscribe', {'id': sortie.id}) }}">S'inscrire</a>
                                {% elseif inscrit == 'X'
                                    and sortie.dateHeureDebut|date('Y-m-d H:i:s') > date('now')|date('Y-m-d H:i:s')
                                %}
                                    <a class="btn btn-warning" href="{{ path('sortie_unsubscribe', {'id': sortie.id}) }}">Se désinscrire</a>
                                {% endif %}
                                {% if (sortie.organisateur == app.user) or (is_granted('ROLE_ADMIN')) and
                                    sortie.dateHeureDebut|date('Y-m-d H:i:s') > date('now')|date('Y-m-d H:i:s')
                                %}
                                    <a class="btn btn-warning" href="{{ path('sortie_cancel', {'id': sortie.id}) }}">Annuler</a>
                                {% endif %}
                            {% elseif sortie.etat == 'Fermée' %}
                                <a class="btn btn-warning" href="{{ path('sortie_show', {'id': sortie.id}) }}">Afficher</a>
                                {% if (sortie.organisateur == app.user) or (is_granted('ROLE_ADMIN')) and
                                    sortie.dateHeureDebut|date('Y-m-d H:i:s') > date('now')|date('Y-m-d H:i:s')
                                %}
                                    <a class="btn btn-warning" href="{{ path('sortie_cancel', {'id': sortie.id}) }}">Annuler</a>
                                {% endif %}
                            {% elseif sortie.etat != 'Historisée' %}
                                <a class="btn btn-warning" href="{{ path('sortie_show', {'id': sortie.id}) }}">Afficher</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">Aucun résultat ne correspond à votre recherche</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-center">     
            <a href="{{ path('sortie_new') }}">
                <button class="text-center btn btn-warning">Créer une sortie</button>
            </a>
        </div>
    </div>
    <div class="mobile-view">
        <h3 class="my-3 text-center">Mes sorties</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Lieu</th>
                </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                {% if sortie.campus == app.user.campus %}
                    {% set inscrit = '' %}
                    {% for participant in sortie.participant %}
                        {% if participant == app.user %}
                            {% set inscrit = 'X' %}
                        {% endif %}
                    {% endfor %}
                        <tr>
                            <td><a href="{{ path('sortie_show', {'id': sortie.id}) }}">{{ sortie.nom }}</a></td>
                            <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i:s') : '' }}</td>
                            <td>{{ sortie.lieu.nom }}</td>
                        </tr>
                {% endif %}
            {% else %}
                    <tr>
                        <td colspan="8">Aucun résultat ne correspond à votre recherche</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
