{% extends 'base.html.twig' %}

{% block title %}Modification d'une ville{% endblock %}

{% block body %}
    <h1 class="text-center text-primary">Modification d'une ville</h1>

    <div class="row justify-content-md-center my-5">
        <div class="col-6 p-4 bg-white border border-secondary rounded">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="text-center">
                    <a href="{{ path('ville_index') }}" class="btn btn-secondary">Retour à la liste</a>
                    <button class="btn btn-warning">{{ button_label|default('Mettre à jour') }}</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
