{% extends 'base.html.twig' %}

{% block title %}Modification d'une ville{% endblock %}

{% block body %}
    <h3 class="my-3">Modification d'une ville</h3>

{{ form_start(form) }}
    <div class="row">
        <div class="offset-3 col-6">
            {{ form_widget(form) }}
        </div>

    </div>
        <a class="offset-4 col-2 btn btn-secondary" href="{{ path('ville_index') }}">Retour à la liste</a>
        <button class="col-2 btn btn-warning my-3">{{ button_label|default('Mettre à jour') }}</button>

{{ form_end(form) }}
{% endblock %}








