{% extends 'base-admin.html.twig' %}

{% block title %}Administration - Liste des participants{% endblock %}

{% block content %}
    <h3 class="my-3">Liste des utilisateurs</h3>
    <div class="mx-1">
        <table class="table align-middle">
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Campus</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Actif</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for participant in participants %}
                <tr>
                    <td>{{ participant.pseudo }}</td>
                    <td>{{ participant.campus.nom }}</td>
                    <td>{{ participant.nom }}</td>
                    <td>{{ participant.prenom }}</td>
                    <td>{{ participant.actif ? 'Oui' : 'Non' }}</td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('participant_show', {'id': participant.id}) }}">Afficher</a>
                        <a class="btn btn-warning" href="{{ path('participant_edit', {'id': participant.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">Aucun résultat ne correspond à votre recherche</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <a href="{{ path('participant_new') }}" class="btn btn-warning">Créer un nouvel utilisateur</a> 
        </div>
    </div>
{% endblock %}
